@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
$primary: #ff9800 !default;
// $primary-invert: black !default;
// $family-sans-serif :'Athiti',sans-serif;
// $radius: 0;
// $radius-small: 0;
// $radius-large: 0;
// $radius-rounded:290486px;



$section-padding: 1.5rem 1.5rem;
// $navbar-dropdown-arrow: $grey;
$family-sans-serif: Athiti, sans-serif !important;

html {
letter-spacing: 0.6px;
}
@import "~bulma/sass/utilities/derived-variables";
