@import '../layout/app-variables.scss';
$packageContainer: '.package-container';
@media (max-width:$tablet) {
    .sticky-inner-wrapper {
        position: static !important;
        transform: none !important;
        width: auto !important;
    }
}

@media screen and (min-width: 1088px) {
    #{$packageContainer}.container {
        max-width: $desktop !important;
        width: $desktop !important;
    }
}


@media screen and (min-width: 1280px) {
    #{$packageContainer}.container {
        max-width: $desktop !important;
        width: $desktop !important;
    }
}

@media screen and (min-width: 1280px) {
    #{$packageContainer}.container {
        max-width: $desktop !important;
        width: $desktop !important;
    }
}
